$yellow: #F4AC45;
$primary-text-color: #282626;
$primary-background-color: #F0F1F1;

@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Itim&display=swap');

.PasswordReset {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: $primary-background-color;
}

.right {
    display: flex;
    flex-direction: column;
    font-family: 'Istok Web', sans-serif;
    justify-content: center;
    align-items: center;
    width: 40vw;

    .bigText {
        font-size: 3vw;
        color: $primary-text-color;
        // font-weight: 600;
    }

    .smallText {
        font-size: 1vw;
        width: 25vw;
        // text-align: center;
        color: $primary-text-color;
        margin-bottom: 1vw;
        align-items: center;
        display: flex;
    }
    .smallText1 {
        font-size: 1vw;
        width: 25vw;
        // text-align: center;
        margin-top: 2vh;
        color: $primary-text-color;
        margin-bottom: 1vw;
        align-items: center;
        text-align: center;
        display: flex;
        display: flex;
        justify-content: center;
        a{
            margin-left: 0.3vw;
        }
    }

    .link {
        text-decoration: none;
        color: $yellow;
        font-weight: 600;
        transition: color 0.3s ease;
        
       
    }
    .resetForm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    input {
        color: $primary-text-color;
        border-radius: 0.2vw;
        margin: 0.5vw 0;
        background-color: $primary-background-color;
        width: 25vw;
        padding: 0.5vw 1vw;
        font-size: 1.2vw;
        border: 1px solid $primary-text-color;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    input[type='email'] {
        margin-bottom: 1vw;
    }

    button {
        border: none;
        background-color: $yellow;
        color: $primary-text-color;
        -webkit-appearance: none; 
        appearance: none;
        width: 25vw;
        border-radius: 0.2vw;
        margin-top: 1.5vh;
        cursor: pointer;
        padding: 0.5vw;
        font-size: 1.4vw;
        transition: background-color 0.3s ease;
        
       
        
    }
    .linkWrap{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .PasswordReset {
        flex-direction: column;
    }

    .right {
        width: 100vw;
        align-items: center;
        height: 60vh;

        .bigText {
            font-size: 6vw;
        }

        .smallText {
            font-size: 3vw;
            width: 80vw;
        }
        .smallText1 {
            font-size: 3vw;
            width: 80vw;
            margin-top: 0;
            a{
                margin-right: 0.7vw;
            }
        }

        input {
            width: 80%;
            font-size: 4vw;
        }

        button {
            width: 80%;
            font-size: 5vw;
            margin-bottom:2vh ;
        }

        .link {
            font-size: 3vw;
            margin-left: 2vw;
        }
    }
}
